h1 {
  font-size: 20px;
}

h2 {
  font-size: 3px;
}
h3 {
  font-size: 10x;
}

h4 {
  font-size: 10x;
}

h5 {
  font-size: 10x;
}

h6 {
  font-size: 10x;
}

p {
  font-size: 15px;
}

a {
  font-size: 15px;
  text-decoration: none;
}
