.btn-addnew {
  justify-content: center;
  display: flex;

  button {
    background-color: $color5;
    border: none;
    border-radius: 5px;
    margin: 4px;
    padding: 8px 15px;
    color: $color-white;
    cursor: pointer;
  }
}
