.calendar-wrapper {
  width: 100%;
  display: flex;
  height: 120px;
  border-bottom: 1.5px solid; //$background-color2;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .form-wrapper {
    background-color: transparent;
    border: 1px solid $color-main-grey;
    margin: 0;
    padding-left: 10px;
    height: 40px;
    float: left;
    
    &:first-of-type {
      border-right: none;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
     
    }
    
    &:last-of-type {
      border-left: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
    input[type="date"]::-webkit-calendar-picker-indicator {
      //color: $text-color-menu;
      opacity: 0.5;
      display: block;
      background: url("../vendor/icons/calendar.svg") no-repeat;
      background-size: 18px;
      width: 20px;
      height: 20px;
      border-width: thin;
      
      
    }
}
  

