@import "../variables";

.icon-nav {
  width: 20px;
  height: 20px;
  margin-right: 25px;
  margin-left: 15px;
  filter: invert(70%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
}
.icon-topbar {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 15px;
  filter: invert(70%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
}
.small {
  width: 12px;
  height: 12px;
}
.icon-link {
  width: 20px;
  height: 20px;
  margin: auto;
  filter: invert(70%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
}