  
.table-wrapper{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .table-row-wrapper{
      display: flex;
      width: 50%;
      height: 100%;
      flex-direction: row;
      margin-top: 30px;
  
      .column {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 40px;
  
        .table-row {
          height: 50px;
          width: 100%;
          border-bottom: 1px solid $color-main-grey;
          display: flex;
          justify-content: space-between;
          //font-family: $header-font;
          padding: 15px 0;
          
  
          p {
            display: inline-block;
            font-size: 13px;
            font-weight: bold;
            color:$color-main-grey;
            margin: 0;
  
          }
  
          .number {
            //margin-left: 150px;
            //padding-left: 30px;
            color: $color-main-black;
            font-weight: 400;
          }
        }
      }
    }
}