.aside {
  position: relative;
  //max-width: 100%/12*2;
  //border: solid red;
  background-color: $color-main-black;
  padding: 0px;
}

.aside-nav {
  position: fixed;
  width: 100%;
  max-width: inherit;
  margin-left: 0px;
  height: 100%;
  color: $color-main-grey;
  list-style: none;
  
}

.menu {
  display: none;
  list-style: none;
  padding-left: 0px;
  li {
    //box-sizing: border-box;
    border-left-style: solid;
    border-color: $color-main-black;
    border-width: 4px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  a {
    color: $color-main-grey;
  }
  a:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%)
      hue-rotate(151deg) brightness(108%) contrast(103%);
  }
  img {
    vertical-align: text-bottom;
  }
  .nav-link-active {
    border-color: $color-nav-active1;
    background-color: $color-nav-active2;
    a {
      filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7487%)
        hue-rotate(151deg) brightness(108%) contrast(103%);
    }
  }
}

.active {
  display: inline-block;
  width: 100%;
}

  .mobile-topmenu {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    //background-color: $color-white;
    //border: 2px solid orange;
    border-bottom: 1px solid $color-main-grey;
  
    ul {
      list-style: none;
      margin: 0;
      border: 2px solid blueviolet;
      padding-inline-start: 0;
    }
    li {
      position: relative;
      display: block;
      font-size: 15px;
      padding: 5px 0;
      border-bottom: 1px solid;
      border-color: $color-main-grey;
  
      a {
        display: inline;
        vertical-align: top;
      }
      span {
        margin: 0 10px 0 10px;
        vertical-align: middle;
      }
      div {
        position: relative;
      }
      img {
        margin: 2px 0 0 2px;
      }
      .amount {
        font-size: 15px;
        font-weight: 500;
        color: $color-main-grey;
      }
      .login-person {
        color: $color-link;
        font-size: 10px;
      }
    }
    .notification {
      position: absolute;
      top: 4px;
      left: 14px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      z-index: 1;
    }
    .active {
      background-color: $color-nav-active1;
    }
  }

@media (max-width: 576px)  {
  .menu li {
      margin-bottom: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      a {
        font-size: 12px;
      }
    }

.mobile-topmenu {
  li {
    font-size: 15px;
    padding: 5px 0;
  span {
      margin: 0 10px 0 10px;
    }
  img {
      margin: 2px 0 0 2px;
    }
    .amount {
      font-size: 15px;
      font-weight: 500;
      color: $color-main-grey;
    }
    .login-person {
      color: $color-link;
      font-size: 10px;
    }
  }
  .notification {
    top: 4px;
    left: 12px;
    width: 7px;
    height: 7px;
  }
  .active {
    background-color: $color-nav-active1;
  }
}
}

@media (min-width: 577px) {
  // to będę musiał zmienić !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  .mobile-topmenu {
    display: none;
  }
}
