.links-wrapper {
  width: 70%;
  border-spacing: 0px;
  text-align: left;
  table-layout: fixed;
}

td {
  border-bottom: 1px solid $color-background;
  border-top: 1px solid $color-background;
  padding: 0px;
  a {
    color: $color-link;
    pointer-events: none;
    cursor: default;
    
  }
  img {
    justify-content: end;
    margin-right: 20px;
    opacity: 0;
  }
}
.table-img {
  text-align: right;
  
}
tr:hover {
  background-color: $color-background;
  a {
    cursor: pointer;
    pointer-events: auto;
  }
  img {
    opacity: 1;
  }
}