.topmenu {
    position: relative;
    background-color: $color-main-black;
    color: $color-white;
    padding-top: 15px;
    padding-bottom: 20px;
    padding-right: 5px;
    font-family: $logo-font;
  }
  
  .logo {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 30px;
    font-family: $logo-font;
    color: $color-white;
    text-decoration: none;
  }
  @media (max-width: 768px){
    .topmenu { padding-top: 20px;
     padding-left: 10px;
    }
    .logo {
      padding-left: 0;
      font-size: 20px;
    }
  }